<nav class="fliznav fliznav-horizontal fliznav-right fliznav-top">

    <ul class="fliznav-navitems fliznavhover-underline">
        <li>
            <a class="fliznav-link active" href="#">Home</a>
        </li>
        <li>
            <a class="fliznav-link" href="#">RSVP</a>
        </li>
        <li>
            <a class="fliznav-link" href="#">Schedule</a>
        </li>
        <li>
            <a class="fliznav-link" href="#">FAQ</a>
        </li>
    </ul>
</nav>