<%include partials/head%>

<body>
  
  <div id="main">
    <%include partials/nav%>

    <span class="rsvp-ribbon"></span>

    <div id="intro" class="full-page">
      <div class="jumbo">
        <div class="jumbo-header">
          <h3>Geisa Dutra Presents</h3>
        </div>
      </div>
    </div>
  </div>

</body>

<%include partials/footer%>
