.rsvp-ribbon {
    position: fixed;
    background-color: var(--red);
    top: 0px;
    left: var(--defaultpadding);
    width: 50px;
    height: 120px;
    border-bottom-right-radius: 10px;
}

#intro {
    position: relative;
    border: 1px solid green;
}

#intro .jumbo {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
#intro .jumbo .jumbo-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}