* {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: var(--lightgray);
}

.full-page {
    min-height: 100vh;
}
.third-page {
    min-height: 75vh;
}
.half-page {
    min-height: 50vh;
}
.quarter-page {
    min-height: 25vh;
}

.fliznav-link {
    text-transform: uppercase;
}